<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
</head>
<body>
  <header>
    <h1>{{site.name}}</h1>
  </header>

  <main>
    {{{content}}}
  </main>

  <footer>
    <p>© {{site.name}} - {{site.year}}</p>
  </footer>
</body>
</html>
